<!DOCTYPE html>

<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{pattern/page :: page(
                                                ~{::title},
                                                ~{:: #script},
                                                ~{:: #home-header},
                                                ~{:: #home-main-content}
                                               )}">

<head>
    <title>Delete by id</title>
    <th:block id="script">
        <script type="text/javascript" src="../static/scriptByProject.js" th:src="@{/scriptByProject.js}"></script>
    </th:block>
</head>
<body>
<div id="home-header">
    Header of Home Page
</div>

<div id="home-nav" th:replace="~{pattern/page :: nav-default}">
    Home Nav
</div>

<div id="home-main-content">
    <h2>Delete record by id</h2>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label for="delete-record" class="sr-only">Id record</label>
            <input type="text" class="form-control" id="delete-record" placeholder="Id record" required="true">
        </div>
        <button type="button" class="btn btn-outline-secondary" onclick="deleteRecordById()">Delete record</button>
    </div>
</div>


</body>
</html>